@import './../../../styles/mixin.scss';
@import './../../../styles/vars.scss';

.packsList{
    display: flex;
    justify-content: center;
    padding: 24px 0 70px 0;
    height: 100vh;
    @media screen and (max-width: 875px) { 
        flex-direction: column;
        align-items:center;
        padding: 24px 0 24px 0;
    } 
    .aside {
        padding: 33px 24px;
        background-color: #ECECF9;
        border-radius: 30px 0 0 30px;
        @media screen and (max-width: 875px) { 
            border-radius: 30px 30px 0 0;
            display: flex;
            justify-content: space-between;
            max-width: 765px;
            width: 100%;
            padding: 20px 70px;
        }
        @media screen and (max-width: 730px) { 
            padding: 20px 35px;
        }
        @media screen and (max-width: 510px) { 
            justify-content: center;
            padding: 15px 24px;
        }
        
        .packsCard {
            margin-bottom: 45px;
            @media screen and (max-width: 875px) { 
                margin-bottom: 0;
                margin-right: 20px;
            }
            @media screen and (max-width: 490px) { 
                margin-right: 0;
            }
                .titleH3{
                    @include text (16px, 600, 19px);
                    color: $textColor;
                    margin-bottom: 20px;
                } 
            }
        .numberCard {
            @media screen and (max-width: 490px) { 
                display: none;
            }
            .titleH3{
                @include text (16px, 600, 19px);
                color: $textColor;
            }
            .rangeSlider {
                margin-top: 50px;
                @media screen and (max-width: 875px) { 
                    margin-top: 24px;
                }
            } 
        }
    }

    .content {
        padding: 0 48px;
        background-color: $primaryColor;
        border-radius: 0 30px 30px 0;
        position: relative;
        max-width: 765px;
        width: 100%;
        overflow-y: hidden;
        padding-bottom: 205px;
        @media screen and (max-width: 875px) { 
            border-radius:  0 0 30px 30px;
            padding: 0 30px;
            padding-bottom: 205px;
        }
        @media screen and (max-width: 690px) { 
            padding-bottom: 235px;
            padding: 0 15px;
            padding-bottom: 230px;
        }
        @media screen and (max-width: 421px) { 
            padding-bottom: 285px;
        }
        .form {
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 420px) { 
                height: 85px;
                flex-direction: column;
                justify-content: space-between;
            }
        }
        .wrap {
            margin-top: 24px;  
            height: 100%;
            overflow: auto;
            // height: calc(100%-100px);
            table {
                color: $textColor;
                text-align: left;
                // filter: drop-shadow(0px 4px 14px rgba(45, 46, 70, 0.15));
                border-collapse: collapse;
                max-width: 670px;
                width: 100%;
                box-shadow: 0 4px 14px rgba(45, 46, 70, 0.15);
                @media screen and (max-width: 650px)  { 
                    width: 670px;  
                }
            }
            table th {
                position: sticky;
                top: 0;
                z-index: 10;
            }
            tr {
                .item1 {
                    padding-left: 24px;
                    width: 27.6%;
                }
                .item2 {
                    width: 11.6%;
                }
                .item3 {
                    width: 20%;
                }
                .item4 {
                    width: 16.4%;
                }
                .item5 {
                    width: 24.4%;
                    padding-right: 24px;
                }
            }
            th {
                @include text (14px, 700, 16px);
                background: #ECECF9;
                padding: 16px 0;
                word-break:break-all;
            }
            td {
                padding: 16px 0;
                @include text (14px, 400, 16px);
                word-break:break-all;
            }
            td:first-child {
                padding-left: 24px;
            }
            td:last-child {
                padding-right: 24px;
            }
            tr:nth-child(odd) {
                background: #F8F7FD;
            }
            tr:nth-child(even) {
                background: #FFFFFF;
            }
        }
    }
    .pagination {
        display: flex;
        position: absolute;
        bottom: 25px;
        left: 35px;
        // align-items:center;
        // height: 100px;
        @media screen and (max-width: 690px)  { 
            flex-direction: column; 
            // align-items: center; 
        }
        @media screen and (max-width: 415px)  { 
            left: -15px;
        }
    }
}
