.headerContainer {
    grid-area: header;
    border: 1px solid black;
    height: 7vh;
}

.navLinkContainer {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.navLinkContainer a {
    text-decoration: none;
    color: firebrick;
}