@import './../../../styles/mixin.scss';
@import './../../../styles/vars.scss';

.error {
    background-image: url("./../../../assets/images/404.png");
    background-size: cover;
    height: 100vh;
    background-position: center;
    position: relative;
    @media screen and (max-width: 875px) { 
        background-size: 1500px 100%;
    }
    .wrapper {
        position: absolute;
        top: 60%;
        width: 100%;
        text-align: center;

        .text {
            @include text (28px, 600, 45px);
            color: $primaryColor;
            margin-bottom: 60px;
            text-align: center;
        }
        .btn {
            @include text (26px, 600, 34px);
            background: rgba(247, 238, 238, 0.53); 
            color: $primaryColor;
            max-width: 280px;
            width: 100%;
            height: 60px;
            border: none;
            border-radius: 25px; 
            display: block;
            margin: 0 auto;
            &:hover {
                background-color: darken(rgba(247, 238, 238, 0.53), 5%); 
                box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
            }

        }
    }
}