@import './../../../../styles/mixin.scss';
@import './../../../../styles/vars.scss';

.packName {
    display: flex;
    justify-content: center;
    padding: 24px 0 71px 0;
    min-height: 100vh;
    @media screen and (max-width: 875px) { 
        padding: 24px 0 24px 0;
    }
    .content {
        background-color: $primaryColor;
        padding: 19px 24px 75px 24px;
        border-radius: 30px;
        position: relative;
        max-width: 1008px;
        width: 100%;
        overflow-y: hidden;
        padding-bottom: 205px;
        @media screen and (max-width: 875px) { 
            padding-bottom: 205px;
        }
        @media screen and (max-width: 690px) { 
            padding: 19px 15px 230px;
        }
        @media screen and (max-width: 421px) { 
            padding: 19px 15px 285px;
        }

        .back {
            display: flex; 
            border: none; 
            margin-bottom: 20px;  
            .icon {
                margin-right: 10px;
                transform: translateY(5px);
            }
        }
        .search {
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 420px) { 
                height: 85px;
                flex-direction: column;
                justify-content: space-between;
            }

        }
        .wrap {
            margin-top: 24px; 
            height: 100%;
            overflow: auto; 
            table {
                text-align: left;
                box-shadow: 0px 4px 14px rgba(45, 46, 70, 0.15);
                border-collapse: collapse;
                color: $textColor;
                max-width: 960px;
                width: 100%;
                @media screen and (max-width: 600px)  { 
                    width: 540px;  
                }
            }
            table th {
                position: sticky;
                top: 0;
                z-index: 10;
            }
            tr {
                .item1 {
                    padding-left: 24px;
                    width: 36.5%;
                }
                .item2 {
                    width: 36.5%;
                }
                .item3 {
                    width: 17.2%;
                }
                .item4 {
                    width: 9.8%;
                    padding-right: 24px;
                }
            } 
            th {
                padding: 16px 0;
                background: #ECECF9;
                @include text (14px, 700, 16px);
                word-break:break-all;
            } 
            td {
                padding: 16px 0;
                @include text (14px, 400, 16px);
                word-break:break-all;
            }
            td:first-child {
                padding-left: 24px;
            }
            td:last-child {
                padding-right: 24px;
            }
            tr:nth-child(odd) {
                background: #F8F7FD;
            }
            tr:nth-child(even) {
                background: #FFFFFF;
            }

        }
        .pagination {
            display: flex;
            position: absolute;
            bottom: 25px;
            left: 25px;
            @media screen and (max-width: 690px)  { 
                flex-direction: column; 
                // align-items: center; 
            }
            @media screen and (max-width: 415px)  { 
                left: -15px;
            }
        }
    }
}