@import "./../../../styles/mixin.scss";
@import "./../../../styles/vars.scss";

.editProfile {
    height: 100vh;
    .wrapper {
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .inner {
            background-color: $primaryColor;
            border-radius: 30px;
            padding: 36px 33px 60px;
            max-width: 413px;
            width: 100%;
            .eidt {
                display: flex;
                flex-direction: column;
                align-items:center;
                position: relative;
                margin: 15px 0 38px 0;
                .photo{}
            }            
            .icon {
                position: absolute;
                top: 65px;
                right: 119px;
            }
            .form{}
            .btn {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}