@import './../../../styles/mixin.scss';
@import './../../../styles/vars.scss';

.loginPage {
    height: 100vh;
    .wrapper {
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .inner {
            background-color: $primaryColor;
            max-width: 413px;
            width: 100%;
            border-radius: 30px;
            opacity: 0.8;
            .form {
                margin-top: 38px;
            }
            .btn {
                display: flex;
                justify-content: center;
                margin: 84px 0 60px 0;
            }
        }
    }
}