@import './../../../styles/mixin.scss';
@import './../../../styles/vars.scss';

// .loginPage {
//     height: 100vh;
//     .wrapper {
//         height:100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         .inner {
//             background-color: $primaryColor;
//             max-width: 413px;
//             width: 100%;
//             border-radius: 30px; 
//             opacity: 0.8;
//             .form {
//                 margin-top: 38px;
//             }
//             .wrap {
//                 .checkbox {
//                     position: relative;
//                     .checkboxInput {
//                         appearance: none;
//                         position: absolute;
//                         // &:checked + .checkboxLable::after {
//                         //     opacity: 1;
//                         // }
//                     }
//                     .checkboxLable {
//                         padding-left: 23px;
//                         @include text(14px,400, 17px);
//                         font-family: 'Montserrat';
//                         cursor: pointer;
//                         &::before{
//                             content: "";
//                             display: block;
//                             width: 20px;
//                             height: 20px;
//                             background-image: url("./../../../assets/images/loginPage/checkboxOn.svg");
                        
//                             position: absolute;
//                             top: 0;
//                             left: 0;
//                             z-index: 1;
//                             // &:checked {
//                             //     opacity: 1;
//                             // }
//                         }
//                         &::after{
//                             content: "";
//                             display: block;
//                             width: 20px;
//                             height: 20px;
//                             background-image: url("./../../../assets/images/loginPage/checkboxOff.svg");
                        
//                             position: absolute;
//                             top: 0;
//                             left: 0;
//                             z-index: 2;
                        
//                             opacity: 0;
//                             // &:checked{
//                             //     opacity: 1;
//                             // }
//                         }
//                         // .checkboxInput:checked + .checkboxLable::after {
//                         //     opacity: 1;
//                         // }
//                     }
//                 }
//                 .linkPassword {
//                     @include text (14px, 400, 17px);
//                     color: $textColor;
//                     display: inline-block;
//                     margin: 38px 51px 0 0;
//                     display: flex;
//                     justify-content: flex-end; 
//                     &:hover {
//                         font-weight: 500;
//                     }  
//                 }
//             }
//             .btn {
//                 display: flex;
//                 justify-content: center; 
//                 margin-top: 79px;
//             }
//             .singUp {
//                 display: flex;
//                 flex-direction: column;
//                 align-items: center;
//                 margin-top: 31px;
//                 padding-bottom: 26px;
//                 .span {
//                     @include text (14px, 600, 24px);
//                     color: $textColor;
//                     opacity: 0.5;
//                     &:hover {
//                         font-weight: 700;
//                     }
//                 }
//                 .linkSingUp {
//                     @include text (16px, 600, 24px);
//                     color: $accentColor;
//                     margin-top: 11px;
//                     &:hover {
//                         font-weight: 700;
//                     }
//                 }
//             }
//         }
//     }     
// }
.loginPage {
    height: 100vh;
}
.wrapper {
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner {
    background-color: $primaryColor;
    max-width: 413px;
    width: 100%;
    border-radius: 30px; 
    opacity: 0.8;
}
.form {
    display:flex;
    justify-content: center;
    margin-top: 38px;
}
.wrap {
    display: flex;
    justify-content: space-between;
    margin: 17px 33px 0;
}

.checkbox {
    position: relative;
}
.checkboxInput {
    appearance: none;
    position: absolute;
}
.checkboxLable {
    padding-left: 23px;
    @include text(14px, 400, 17px);
    cursor: pointer;
}
.checkboxLable::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("./../../../assets/images/loginPage/checkboxOff.svg");
    background-repeat: no-repeat;
                        
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
}
.checkboxLable::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("./../../../assets/images/loginPage/checkboxOn.svg");
    background-repeat: no-repeat;
                        
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
                        
    opacity: 0;
}                     
.checkboxInput:checked + .checkboxLable::after {
    opacity: 1;
}       
.linkPassword {
    @include text (14px, 400, 22px);
    color: $textColor;
}
.linkPassword:hover {
        font-weight: 500;
} 
.btn {
    display: flex;
    justify-content: center; 
    margin-top: 79px;
}
.singUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 31px;
    padding-bottom: 26px;
}
.span {
    @include text (14px, 600, 24px);
    color: $textColor;
    opacity: 0.5;
}
.span:hover {
    font-weight: 700;
}
.linkSingUp {
    @include text (16px, 600, 24px);
    color: $accentColor;
    margin-top: 11px;
}
.linkSingUp:hover {
    font-weight: 700;
}

