@import './../../styles//mixin.scss';
@import './../../styles/vars.scss';


.modal {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    opacity: 0;
    transition: opacity 200ms ease-in;
    pointer-events: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalActive {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}
.modalDialog {
    position: relative;
    max-width: 395px;
    width: 100%;
}
.modalContent {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 5px;
    outline: 0;
}
.modalHeader {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 15px 24px;
    border-bottom: 1px solid #EDF0F6;
}
.modalTitle {
    @include text(18px, 500, 27px);
    color: $textColor;
}
.btn{
    border: none;
    background-color: transparent;
}
.modalContentActive {
    transform: scale(1);
}
