@import './../../../styles/mixin.scss';
@import './../../../styles/vars.scss';

.packsList{
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 38px 0 46px 0;
    .aside {
        background-color: #ECECF9;
        border-radius: 30px 0 0  30px;
        .titleH3{
            @include text (16px, 600, 19px);
            color: $textColor;
            padding: 33px 0 0 23px;
        } 
        .rangeSlider {
            padding: 0 23px;
            margin-top: 54px;
        } 
    }
    .content {
        padding: 0 48px;
        background-color: rgba(254, 254, 255, 0.73);
        border-radius: 0 30px 30px 0;
        position: relative;
        .form {
            display: flex;
        }
        .wrap {
            margin-top: 24px;
            
            table {
                color: $textColor;
                text-align: left;
                filter: drop-shadow(0px 4px 14px rgba(45, 46, 70, 0.15));
                border-collapse: collapse;;
                max-width: 670px;
                width: 100%;
            }
            th {
                @include text (14px, 700, 16px);
                background: #ECECF9;
                padding: 16px 20px;
            }
            // .item1 {
            //     width: 27.5%;
            // }
            // .item2 {
            //     width: 11.5%;
            // }
            // .item3 {
            //     width: 20.5%;
            // }
            // .item4 {
            //     width: 16.5%;
            // }
            // // .item5 {
            // //     width: 24%;
            // // }

            td {
                padding: 16px 20px;
            }
            tr:nth-child(odd) {
                background: #F8F7FD;
            }
            tr:nth-child(even) {
                background: #FFFFFF;
            }
        }
    }
    .pagination {
        display: flex;
        position: absolute;
        bottom: 25px;
    }

}
