@import './../../../../../styles/mixin.scss';
@import './../../../../../styles/vars.scss';

.question {
    height: 100vh;
    .wrapper {
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .inner {
            background-color: $primaryColor;
            max-width: 413px;
            width: 100%;
            border-radius: 30px;
            padding: 36px 30px 60px;
            .text {
                margin: 33px 0 78px;
                @include text (16px, 400, 24px);
                .span {
                    @include text (16px, 600, 24px);
                }
            }
            .btn {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}