@import './../../../styles/mixin.scss';
@import './../../../styles/vars.scss';

.forgotPassword {
    height: 100vh;
    .wrapper {
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .inner {
            background-color: $primaryColor;
            max-width: 413px;
            width: 100%;
            border-radius: 30px; 
            opacity: 0.8;
            padding-bottom: 60px;
            .form {}
            .text {
                @include text (16px, 400, 24px);
                    color: $textColor;
                    max-width: 347px;
                    display: block;
                    margin: 0 auto ;
                    margin-top: 30px;
            }
            .btn {
                display: flex;
                justify-content: center;
                margin-top: 90px ;
            }
        }
    }
}