// Осталось от фронта
/* .app {
    display: grid;
    grid-template-columns: 15% 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "navigation content content content"
} */
.header {
    position: sticky;
    top: 0;
    z-index: 11;
}
.content {
    background-image: url(./main/ui/assets/images/Background.png);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    // height: 1px;
}