@import './../../../../styles/mixin.scss';
@import './../../../../styles/vars.scss';

.forgotPassword {
    height: 100vh;
    .wrapper {
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .inner {
            background-color: $primaryColor;
            max-width: 413px;
            width: 100%;
            border-radius: 30px; 
            padding: 25px 33px 31px;
            .form {
                margin-top: 38px;
            }
            .text {
                @include text (14px, 400, 24px);
                    color: $textColor;
                    max-width: 347px;
                    display: block;
                    margin: 0 auto ;
                    padding-top: 30px;
            }
            .btn {
                display: flex;
                justify-content: center; 
                margin-top: 90px;
            }
            .singUp {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 30px;
                .link {
                    @include text (14px, 600, 24px);
                    color: $textColor;
                    opacity: 0.5;
                    &:hover {
                        font-weight: 700;
                    }
                }
                .linkSingUp {
                    @include text (16px, 600, 24px);
                    color: $accentColor;
                    margin-top: 10px;
                    &:hover {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}